

div p{
  background-color: red;
  color: white;
  font-size: 32px;
  text-align: center;
}

.bg-color {
  background-color: green;
  color: white;
  font-size: 18px;
}

button {
  background-color: orange;
  font-size: 18px;
}

.odd {
  background-color: pink;
  color: black;
  font-family: verdana, "Dejavu sans", sans-serif;
}

#num2-id {
  color: blue;
  font-size: 36px;
}

.num3  {
  font-size: 36px;
}

#num4-id {
  background-color: lightgreen;
  font-size: 24px;
  font-weight: bold;
}

.b1, .b2 {
  font-size: 28px;
  font-family: helvetica, "Times New Roman", sans-serif;
}

.b1 {
  background-color: black;
  color: white;
}

.b2 {
  background-color: yellow;
}